<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/sun.png" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/HygrivaStotram.jpg" />
            <img class="portrait" src="/img/VishwaKarma-slokam.png" />
        </div>
        {{>footer}}
    </body>
</html>